apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dame

resources:
  - namespace.yaml
  - configmap.yaml
  - secret.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml

commonLabels:
  app.kubernetes.io/managed-by: argocd
  app.kubernetes.io/part-of: dame-app
